@layer reset,
base;

@layer reset {

  html,
  body {
    padding: 0;
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-size: 1em;
  }

  h1 {
    font-weight: 700;
  }

  h2 {
    font-weight: 600;
  }

  h3 {
    font-weight: 500;
  }

  h4 {
    font-weight: 400;
  }

  h5 {
    font-weight: 300;
  }

  h6 {
    font-weight: 200;
  }
}

@layer base {
  :root {
    --font-sans: "SUIT Variable", sans-serif;
    --text-color: hwb(220deg 17% 80%);
    --input-border-color: hwb(220deg 80% 17%);
    --input-radius-size: 0.66em;
    --input-padding-size: 0.5em 0.7em;
  }

  body {
    font-family: var(--font-sans);
    color: var(--text-color);
    background: hwb(43deg 53% 0%);
  }

  main {
    display: flex;
    flex-flow: column;
    gap: 1em;
    padding: 1em 0;
    width: 100%;
    align-items: center;
  }

  article {
    display: flex;
    flex-flow: column;
    border-radius: 1em;
    background: white;
    box-shadow:
      1px 1px 2px hwb(43deg 47% 20% / 25%),
      1px 1px 4px hwb(43deg 47% 20% / 25%),
      1px 2px 8px hwb(43deg 47% 20% / 25%),
      1px 2px 16px hwb(43deg 47% 20% / 25%);
    padding: 1em;
    gap: 1em;
  }

  div {
    display: flex;
    box-sizing: border-box;
    gap: 1em;
  }

  input {
    box-sizing: border-box;
    border: none;
    border-radius: var(--input-radius-size);
    padding: var(--input-padding-size);
    background: hwb(220deg 94% 5%);
    flex: 1 0;
    font-family: var(--font-sans);
  }

  input:read-only {
    background: white;
  }

  input:focus,
  input:active {
    background: hwb(220deg 94% 5%);
    outline: 2px solid hwb(43deg 17% 0%);
  }

  input:invalid,
  input[aria-invalid="true"] {
    outline: 2px solid hwb(7deg 17% 0%);
  }

  button {
    background: hwb(43deg 77% 0%);
    border: none;
    border-radius: var(--input-radius-size);
    padding: var(--input-padding-size);
    color: var(--text-color);
    font-family: var(--font-sans);
    font-weight: 500;
  }

  button:hover,
  button:focus {
    background: hwb(43deg 67% 0%);
  }

  button:active {
    background: hwb(43deg 50% 0%);
  }
}